body::-webkit-scrollbar-track
{
  display: none;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: bisque;
}

body::-webkit-scrollbar-thumb
{
  background-color: #2C1C10;
}


#root {
  background-color: bisque;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding-block: 1rem;
}

.copyright:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 700;
}

.jumbotron {
  min-height: 40vh;
  background-size: cover;
  background-image: url("./jumbo.jpg");
  color: white;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-size: 4.5rem;
}

.searchbar {
  padding-top: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: bisque;
  border-bottom: 1px solid #212529aa;
}

.commentarea {
  position: sticky;
  top: 165px;
}

.card {
/*   height: 100%; */
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-info {
  height: 125px;
}
.card .card-image-top {
  height: 300px;
  margin-bottom: auto;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.bg-dark {
  background-color: #2C1C10!important;
}

.card.selected {
  background-color: #829140;
  outline: 2px solid rgb(32, 54, 23);
}

.form-control {
  background-color: transparent;
  border-color: black;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(32 54 23 / 25%);
  background-color: transparent;
  border-color: black;
}
.card .list-group {
  background-color: transparent;
}
.card .list-group-item {
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 5px;
  border: 1px solid red;
}

.card .list-group-item .btn-danger {
  padding: 2px 4px;
  font-size: 12px;
}
.card-img-wrapper {
  width: 100%;
  height: 350px;
  padding:  1.25rem;
}

.card-img-wrapper .card-img-top {
  object-fit: contain;
  max-height: 100%;
}